*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h2{
    position: absolute;
    top: 30%;
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 400;
}
.container{
    height: 100vh;
    width: 100%;
    background: #201f21;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    width: 400px;
    max-width: 90%;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}
button{
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
button img{
    width: 35px;
}
#message{
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 15px;
    display: none;
}
::placeholder{
    font-size: 15px;
}